.wrapper {
	overflow-x: hidden;
	.space {
		margin-bottom: 800px;
	}
	.first-form {
		display: flex;
		align-items: center;
		font-size: x-large;
		padding-right: 15rem;
	  	padding-left: 1rem;
		position: absolute;
		left: 0;
		top: 270px;
		width: 50%;
		height: 50%;
		background: linear-gradient(135deg, #e9e8e522 0%, #d7d0d2 100%);
		clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
		animation: first-animate 1.5s ease;
	}
	.second-form {
		display: flex;
		position: absolute;
		right: 0;
		top: 340px;
		width: 50%;
		height: 50%;
		background: linear-gradient(135deg, #e9e8e522 0%, #d7d0d2 100%);
		clip-path: polygon(50% 0, 100% 0%, 100% 100%, 52% 100%, 0% 50%);
		animation: second-animate 1.5s ease;
		background: url('../../project1.png') no-repeat;
		background-position: center;
		background-size: cover;
		height: 80%;
	}
}

@keyframes first-animate {
	0% {
		left: -500px;
	}
	100% {
		left: 0;
	}
}

@keyframes second-animate {
	0% {
		right: -500px;
	}
	100% {
		right: 0;
	}
}

@media(max-width: 1400px) {
  .wrapper {
	.first-form {
	  font-size: large;
	  padding-right: 10rem;
	  height: 45%;
	}
	.second-form {
	  height: 55%;
	}
  }
}


@media(max-width: 1000px) {
  .wrapper {
	.first-form {
	  font-size: medium;
	  padding-right: 5rem;
	  height: 40%;
	}
	.second-form {
	  height: 55%;
	}
  }
}

@media(max-width: 800px) {
  .wrapper {
	.first-form {
	  font-size: small;
	  padding-right: 5rem;
	  height: 35%;
	}
	.second-form {
	  height: 50%;
	}
  }
}

@media(max-width: 600px) {
  .wrapper {
	.first-form {
	  font-size: xx-small;
	  padding-right: 2.5rem;
	  height: 33%;
	}
	.second-form {
	  height: 50%;
	}
  }
}
