button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    border: solid 2px;
    border-color: rgb(210, 210, 210);
    background-color: white;
}

button:hover {
    border-color: rgba(0, 0, 255, 0.100);
    background-color: aliceblue;
}
