
.about {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 23px;
    font-family: "Segoe UI", sans-serif;
    padding: 10px;
}

.department {
    margin-bottom: 20px;
}

.name {
    text-align: left;
}

.description {
    text-align: justify;
}